@font-face {
  font-family: vazir;
  src: url(./vazir.ttf);
}
body{
  margin: 0;
  font-family: "vazir";
  background-color: #ECECEC;

}
.checked {
  color: orange;
}
.title{
  color: #004172;
  margin-bottom: 1rem;
}
.information-container{
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.text-color{
  color:#004172
}
.skills{
  transition: all 1s ease;
  opacity: 0;
}

.translate-skills{
  opacity: 1;
}
